@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');

.card_btn_list{
    display: flex;
    margin: 30px auto;
    justify-content: center;
}

.card_btn_item +.card_btn_item{
    margin-left: 30px;
}

.card_btn{
    padding-left: 16px;
    padding-right: 16px;
    align-self: center;
    font-weight: 600;
    font-family:'Ceviche One';
    border-color: transparent;
    border-radius: 16px;
    background-color: rgb(224, 146, 0);
    font-size: 32px;
    transition: all .25s linear;

    &:hover, &:focus{
        cursor: pointer;
        color: rgb(255, 0, 0);
        background-color: rgb(255, 166, 0);
        box-shadow: 2px 3px 4px black;
    }
}